h1 {
    text-align: center;
    float: none !important;
}


#instance-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#instance-block .instance-svg{
    width: 65%;
    height: auto
}

#instance-block .instance-items{
    width: 30%;
    height: auto;
    text-align: center;
}

#instance-block .instance-items table th{
    padding: 1px 0px !important ; 
}

#instance-block .instance-items table td{
    padding: 8px 0px !important ;
    vertical-align: middle;
}

#instance-block .instance-items table tbody tr th{
    vertical-align: middle;
}

#instance-block .instance-svg div svg{
    width: 90%;
    height: auto;
}

.instance-detail-buttons {
    display: flex;
    justify-content: center;
}

.instance-detail-button{
    border-radius: 6px;
    border-color: rgb(33, 37, 41);
    padding: 6px;
}

.instance-detail-button a{
    color: #fff;
    background-color: #1B84FF;
    border-color: #1B84FF;
    cursor: pointer; 
}

.instance-detail-button a:hover{
    opacity: 0.65;
    color: #fff;
}


.page-invoking-header {
    text-align: center;
}


.page-invoking-content {
    width: 30%;
    margin: 0 auto;
}