#instance-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#instance-block .instance-svg{
    width: 60%;
    height: auto
}

#instance-block .instance-items{
    width: 40%;
    height: auto
}

#instance-block .instance-svg div svg{
    width: 90%;
    height: auto;
}
